
/* AWERWERWERWER SECTION */

* {
    box-sizing: border-box;

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica, sans-serif;
    overflow-y: auto;
    background-color: #FFF2D7;
    color: #6D4C41;
    font-size: large;

}

header {
    position: relative;
    padding: 150px 20px;
    overflow: hidden;


}

.slideshow2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-size: cover;
    background-position: center;
    
    animation: slideshow2 15s infinite;
}

@keyframes slideshow2 {
    0% { background-image: url('header images/shared image (1).jpg'); }
    33% { background-image: url('header images/shared image (2).jpg'); }
    66% { background-image: url('header images/shared image (3).jpg'); }
    100% { background-image: url('header images/shared image.jpg'); }
}

.navigation ul {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #885b4d;


}

.navigation a {
    text-decoration: none;
    color: #FFFFFF;

}

.navigation li {
    text-align: center;

    padding: 0 15px;
}

.navigation li:hover{

    background-color: #ddc9a1;
    padding: 1rem;
    border-radius: 10%;
}

footer {
    padding: 5px;
    background-color: #885b4d;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 2%;
}

/* INDEX CSS */

.main-content {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    text-align: center;
    padding: 5%;
    gap: 5rem;


}

.text-content {
    flex: 1 1 300px;
    max-width: 600px;
    padding: 1rem 5rem 1rem 5rem;
    border: 1px solid #6b3c2e;
    border-radius: 10%;
    box-shadow: 5px 10px 10px #6b3c2e;
    text-align: center;


}

.image {
    flex: 1 1 300px;
    max-width: 300px;
    height: auto;
    border-style: solid;
    border-radius: 10%;
    box-shadow: 5px 10px 10px #6b3c2e;


}

.name {
    font-size: medium;
    margin-top: 10%;
    line-height: 1.5;
    margin-bottom: 5%;

}

.disc, .quote, .address, .contact {
    line-height: 1.5;
    margin-bottom: 5%;

}

.seconddivision {
    display: flex;
    justify-content: center;
    font-size: medium;
    margin-top: 5%;
    flex-wrap: wrap;

}

.centerspace {
    padding: 2rem 1rem 1rem 1rem;
}

.hobbies {
    text-align: center;
    font-size: medium;
    padding: 6rem;
    border-style: solid;
    border-radius: 10%;
    border-left: 1px;
    border-right: 5%;
    border-top: 1px;

    box-shadow: 5px 10px 10px #6b3c2e;
}

.home,
.educ-background h3,
.hobbies h3,
.skills h3,
.experience h3{

    font-size: xx-large;
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    border-radius: 10%;

}

.hobbies ul {
    padding: 0;
    text-align: center;
    font-size: medium;

}

.college, .senior, .junior, .elementary {
    line-height: 1.6;
    margin-bottom: 5%;
}

.educdivision {
    
    text-align: center;
    font-size: medium;
    padding-left: 6rem;
    padding-right: 6rem;
    border-style: solid;
    border-radius: 10%;
    border-left: 1px;
    border-right: 5%;
    border-top: 1px;
    box-shadow: 5px 10px 10px #6b3c2e;
    margin-bottom: 15em;
    margin-top: 10rem;
    
}

.educ-background {
    margin-top: 10%;
}

.skillsdivision {
    text-align: center;
    font-size: 1rem;
    padding: 5%;
    border-style: solid;
    border-radius: 10%;
    border-left: 1px;
    border-right: 5%;
    border-top: 1px;
    border-width: 1px;
    box-shadow: 5px 10px 10px #6b3c2e;
}

.progress-bar-container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    height: 20px;
    margin: 0 auto;
}

.progress-bar {
    height: 100%;
    background-color: #6b3c2e;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
    font-weight: bold;
    font-size: smaller;
}

@media (max-width: 1024px) {
    .text-content {
        padding: 3rem 5rem;
    }
}


@media (max-width: 768px) {
    header {
        padding: 100px 10px;
    }

    .navigation ul {
        flex-direction: column;
        padding: 0;
    }

    .navigation li {
        padding: 10px 0;
    }

    .main-content {
        flex-direction: column;
        padding: 10px;
    }

    .image {
        margin: 20px auto;
        margin-left: auto;
        margin-right: auto;
    }

    .text-content {
        padding: 1rem 1rem;
    }

    .educ-background {
        padding: 20px;
        margin-top: 20%;
    }

    .educdivision {
        padding: 2rem 1rem;
        width: 90%;
        margin: 2rem auto;
        font-size: medium;
    }

    .seconddivision {
        flex-direction: column;
        align-items: center;
    }

    .home,
    .educ-background h3,
    .hobbies h3,
    .skills h3,
    .experience h3 {
        font-size: large;
    }
}

@media (max-width: 480px) {
    header {
        padding: 70px 10px;
    }

    .home {
        font-size: medium;
    }

    .main-content {
        font-size: smaller;
    }

    .text-content {
        padding: 1.5rem 1rem;
    }

    .image {
        margin-left: auto;
        margin-right: auto;
    }

    .educ-background {
        margin-top: 10%;

    }
    .educdivision {
        font-size: small;
        padding: 1.5rem 1rem;
    }

    footer {
        font-size: small;
    }
}

/* PORTFOLIO CSS */


.portfoliodivisions{

    margin-top: 1rem;
}

.firstdivision, .portfolioseconddivision, .thirddivision, .fourthdivision, .fifthdivisionx{

    display: flex;  
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
}
.portfolio {

    font-size: xx-large;
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    border-radius: 10%;

}

.ACTIVITY1, .ACTIVITY2, .ACTIVITY3, .ACTIVITY4, .ACTIVITY5, .ACTIVITY6, .ACTIVITY7, .ACTIVITY8, .ACTIVITY9, .ACTIVITY10, .ACTIVITY11, .ACTIVITY12, .ACTIVITY13{

    height: 30%;
    width: 30%;
    padding: 2% 5% 5% 5%;
    border-style: solid;
    text-align: center;
    font-size: medium;
    border-radius: 10%;
    border-left: 1px;
    border-right: 5%;
    border-top: 1px;

    box-shadow: 5px 10px 10px #6b3c2e;
}

.ACTIVITY1:hover, .ACTIVITY2:hover, .ACTIVITY3:hover, .ACTIVITY4:hover, .ACTIVITY5:hover, .ACTIVITY6:hover, .ACTIVITY7:hover, .ACTIVITY8:hover, .ACTIVITY9:hover, .ACTIVITY10:hover, .ACTIVITY11:hover, .ACTIVITY12:hover, .ACTIVITY13:hover{

    
    background-color: #ddc9a1 ;
    transform: scale(1.05);
    

}

.ACTIVITY1, .ACTIVITY2, .ACTIVITY4, .ACTIVITY5, .ACTIVITY7, .ACTIVITY8, .ACTIVITY10, .ACTIVITY11, .ACTIVITY12{

    margin-right: 2rem;
}




.viewbutton{
   
    height: 100%;
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    font-size: medium;
    padding: 5px 5px 5px 5px;
    display: inline;
    border-style: solid;
    border-radius: 25%;
}

.viewbutton a{
    text-decoration: none;
    color: #885b4d;
}
.viewbutton:hover {

    background-color: #6b3c2e;
    color: white;
    border: 1px solid #6b3c2e;


}

.viewbutton:hover a {

    color: white;

}



@media (max-width: 768px) {
    .firstdivision,
    .portfolioseconddivision,
    .thirddivision,
    .fourthdivision,
    .fifthdivisionx {
      flex-direction: column;
      align-items: center;
    }
  
    .ACTIVITY1, .ACTIVITY2, .ACTIVITY3, .ACTIVITY4, .ACTIVITY5,
    .ACTIVITY6, .ACTIVITY7, .ACTIVITY8, .ACTIVITY9, .ACTIVITY10,
    .ACTIVITY11, .ACTIVITY12, .ACTIVITY13 {
      width: 90%;
      margin-bottom: 2rem;
      margin-right: 0 !important;
    }

  
    .viewbutton {
      width: 80%;
      margin: 2rem auto 0 auto;
      font-size: 1rem;
    }
  
    .contactcontainer {
      width: 90%;
      margin: auto;
      padding: 1rem;
    }
  
    .contactme {
      font-size: x-large;
    }
  }
  
  @media (max-width: 480px) {
    .ACTIVITY1, .ACTIVITY2, .ACTIVITY3, .ACTIVITY4, .ACTIVITY5,
    .ACTIVITY6, .ACTIVITY7, .ACTIVITY8, .ACTIVITY9, .ACTIVITY10,
    .ACTIVITY11, .ACTIVITY12, .ACTIVITY13 {
      font-size: small;
      padding: 6%;
    }
  
    .viewbutton {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  
    .contactme {
      font-size: large;
    }
  }
  
  /* CONTACT SECTION */

  .contactme {

    font-size: xx-large;
    display: inline-block;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    border-radius: 10%;

}

  .contactcontainer {
   
    padding: 1rem;
    border-style: solid;
    border-radius: 10%;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    box-shadow: 5px 10px 10px #6b3c2e;
    width: 50%; 
    margin: 0 auto; 
    


  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input{
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .form-group textarea{
    width: 80%;
  }
  #message{
    padding: 1rem;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    margin: 20px auto 0 auto;
  }
  
  button {
    width: 100px;
    padding: 10px;
    background-color: #6b3c2e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: white;
    color: #6b3c2e;
    border: 1px solid #6b3c2e;
  }

  iframe{
    margin-top: 5%;
    width: 100%;
  }

  @media (max-width: 768px) {

    .navigation li {
        display: block;
        

    }

    .contactcontainer {
        padding: 1rem;
    }


}